.chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 0 0 8px 0;
}
.chat .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  height: 56px;
}
.chat .header .title {
  margin-left: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #18191a;
  line-height: 56px;
}
.chat .header .more-icon {
  margin-right: 8px;
  width: 40px;
  height: 40px;
  background-image: url('./resources/more-default.png');
  background-size: cover;
}
.chat .header .more-icon:hover {
  cursor: pointer;
  background-image: url('./resources/more-hover.png');
}
.chat .message-content {
  flex-grow: 1;
  padding: 16px 12px 0 12px;
  height: 200px;
  overflow-y: scroll;
}
.chat .message-content .message-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0 16px 0;
}
.chat .message-content .message-item .time-box {
  align-self: center;
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: 500;
  color: #b1b4bb;
}
.chat .message-content .message-item .left-msg {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.chat .message-content .message-item .right-msg {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}
.chat .message-content .message-item .right-msg .msg-text {
  background-color: #3478fc;
  color: #fff;
}
.chat .message-content .message-item .right-msg .message-box {
  align-items: flex-end;
  word-break: break-all;
}
.chat .message-content .message-item .right-msg .err-icon {
  align-self: center;
}
.chat .message-content .message-item .center-msg {
  align-self: center;
}
.chat .message-content .message-item .head-portrait {
  flex-shrink: 0;
  text-align: center;
  margin: 0 12px;
  width: 36px;
  height: 36px;
  line-height: 34px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.chat .message-content .message-item .message-box {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}
.chat .message-content .message-item .message-box .send-name {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #394256;
}
.chat .message-content .message-item .msg-text {
  padding: 11px 12px;
  background-color: #fff;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 400;
  color: #2a2a2a;
  white-space: pre-wrap;
  word-break: break-word;
}
.chat .send-box {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  height: 156px;
}
.chat .send-box .tool-box {
  height: 49px;
}
.chat .send-box .text-area {
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 400;
  color: #2a2a2a;
  border: none;
  resize: none;
  outline: none;
}
.chat .send-box .send-button {
  align-self: flex-end;
  margin-top: 8px;
  margin-right: 24px;
  width: 72px;
  height: 32px;
  line-height: 32px;
}
.chat .default-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.chat .default-content .img {
  background-image: url('../UI/resources/chat-default.png');
  background-size: cover;
  width: 95px;
  height: 89px;
}
.chat .default-content .text {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #b1b4bb;
  line-height: 22px;
}
